@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: norwester-regular;
	src: url(./fonts/norwester.regular.otf);
}

@font-face {
	font-family: kollektif;
	src: url(../fonts/Kollektif.ttf);
}

body {
	/* font-family: "Inter", sans-serif; */
	/* background-color: #FBF0B2; */
	/* font-family: "Montserrat", sans-serif; */
	font-family: "Poppins", sans-serif;
	color: #000;
}

/*------------ note app search */
.note-app__search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid #000;
	/* background: #B9B4C7; */
}

.nav-brand {
	display: flex;
	margin-right: 20px;
}

.note-app__search input {
	width: 100%;
}

.note-app__search h1 {
	display: none;
}

.note-app__search img {
	width: 40px;
}
/*------------- end of note app search */

/*------------------ input */

input[type="search"]::-webkit-search-clear-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

input,
textarea {
	padding: 12px;
	margin: 12px 0;
	font-family: "Inter", sans-serif;
	/* background-color: #daeaf1; */
	background-color: #fff;
	color: #333;
	border: 1px solid #aaa;
	border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
	color: #333;
}

input:focus-visible,
textarea:focus-visible {
	outline: 1px solid #666;
}

input:focus,
textarea:focus {
	caret-color: #333;
}

/*------------------ end of input style */

/* -----------------note app container */
.title-app {
	grid-column-start: 2;
	grid-column-end: 3;
	margin-top: 40px;
	text-align: center;
	font-family: norwester-regular, sans-serif;
}

.note-app {
	display: grid;
	grid-template-rows: 70px auto 0.1fr;
	/* background: #fbf0b2; */
	background: #fbf0b2;
	/* gap: 20px; */
	min-height: 100vh;
	overflow-x: hidden;
}

.notes-manager,
.note-app__container {
	display: flex;
	flex-direction: column;
}

.note-app__container {
	padding: 20px;
	align-items: center;
	justify-self: center;
	width: 100%;
}

/* ----------end of note app container */

/* ----------note app body */
.note-app__body {
	grid-template-columns: 1fr;
	display: grid;
	width: 100%;
}
/* -----------end of note app body */

/* -------- note app header */
.note-app__header {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: kollektif, sans-serif;
	width: 100%;
}

.charLimit {
	font-size: 14px;
	margin: 10px 40px 0;
}
/* -------- end of note app header  */

.note-app__body-button {
	padding: 10px 20px;
	background: #204051;
	color: #fff;
	font-family: kollektif, sans-serif;
	font-size: 20px;
}

.archived-notes__title,
.active-notes__title {
	margin-bottom: 20px;
}

.archived-notes__content,
.active-notes__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.active-notes {
	padding: 20px;
	background-color: #eadbc8;
}

.archived-notes {
	padding: 20px;
	background-color: #dac0a3;
}

.note-item__title {
	margin-top: 34px;
	font-family: kollektif, sans-serif;
	border-bottom: 2px solid #666;
	padding: 20px 0;
}

.archived-notes span.archived-notes__empty,
.active-notes span.active-notes__empty {
	width: 100%;
	background: #333;
	display: block;
	padding: 20px;
	text-align: center;
	color: #fff;
	grid-column-start: 1;
	grid-column-end: 5;
}

.note-app__item {
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
	padding: 10px;
	display: flex;
	flex-direction: column;
	background: #313745;
	color: #fff;
}

.notes-manager__title {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 0 20px;
	font-family: kollektif, sans-serif;
	font-weight: 900;
}

.note-app__title {
	font-size: 20px;
	margin: 10px 8px;
	font-family: kollektif, sans-serif;
	align-self: center;
}

.note-app__item {
	width: 100%;
	margin: 0 20px;
}

.note-app__item__body {
	margin: 8px;
	padding-bottom: 10px;
	/* font-size: 12px; */
}

.note-app__item__created {
	font-size: 14px;
	margin: 0 8px;
	display: block;
	align-self: center;
}

/* Button */
.note-app__item__action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	padding: 0 5px;
}

.note-item__delete {
	padding: 5px 10px;
	background: #f57170;
	color: #fff;
}

.note-item__arsip {
	padding: 5px 10px;
	background: #28df99;
}

.note-item__move {
	padding: 5px 10px;
	background: #574b90;
	color: #fff;
}

/* end of button */

@media only screen and (min-width: 600px) {
	/* .active-notes,
	.archived-notes {
		grid-template-columns: 1fr 1fr;
	} */

	.note-app__container {
		width: 600px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.note-app__item {
		width: 350px;
		margin: 0;
	}

	.note-app__header {
		flex-direction: row;
		justify-content: space-between;
	}

	/* .note-app__body {
        width:500px;
    } */

	.note-app__search h1 {
		display: block;
	}

	.note-app__search input {
		width: 300px;
	}
}

@media only screen and (min-width: 800px) {
	/* .active-notes,
	.archived-notes {
		grid-template-columns: repeat(3, 1fr);
	}

	#search,
	.note-app__header,
	.note-app__body,
	.note-item__title,
	.active-notes,
	.archived-notes {
		width: 100%;
		align-self: center;
	} */
}

@media only screen and (min-width: 1000px) {
	/* .active-notes,
	.archived-notes {
		grid-template-columns: repeat(4, 1fr);
	} */

	/* .note-app__item__body {
		font-size: 12px;
	} */
}
